<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>HakKit by zwade</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ site.path }}/stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ site.path }}/stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ site.path }}/stylesheets/github-light.css" media="screen">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">HakKit</h1>
      <h2 class="project-tagline">Down and Dirty Javascript</h2>
      <a href="https://github.com/zwade/hakkit" class="btn">View on GitHub</a>
      <a href="https://github.com/zwade/hakkit/zipball/master" class="btn">Download .zip</a>
      <a href="https://github.com/zwade/hakkit/tarball/master" class="btn">Download .tar.gz</a>
    </section>

    <section class="main-content">
	{{ content }}
    </section> 
  </body>
	<script>
	$(function () {
		$('a').each(function () {
			var ext = '.md';
			var href = $(this).attr('href');
			var position = href.length - ext.length;
			if (href.substring(position) === ext)
				$(this).attr('href', href.substring(0, position));
		});
	})
															      });
  </script>
</html>
